<section
  *ngIf="step1"
  class="w-75 mx-auto shadow-sm bg-body-secondary p-5 mb-5 rounded rounded-3"
>
  <form
    [formGroup]="forgetPassForm"
    (ngSubmit)="handelForgetPass(forgetPassForm)"
  >
    <div class="py-3">
      <label for="email">Email</label>
      <input
        type="email"
        placeholder="Enter Your Email"
        id="email"
        class="form-control"
        formControlName="email"
      />
      <div
        *ngIf="
          forgetPassForm?.get('email')?.errors &&
          (forgetPassForm.get('email')?.touched ||
            forgetPassForm.get('email')?.value.length > 0)
        "
        class="alert alert-danger py-0"
      >
        <p *ngIf="forgetPassForm.get('email')?.getError('required')">
          Email is Required
        </p>
        <p *ngIf="forgetPassForm.get('email')?.getError('email')">
          Email is Not Valid
        </p>
      </div>
    </div>
    <button type="submit" class="btn main-btn px-3 d-block ms-auto">
      Forgot Password
    </button>
  </form>
</section>

<section
  *ngIf="step2"
  class="w-75 mx-auto shadow-sm bg-body-secondary p-5 mb-5 rounded rounded-3"
>
  <form [formGroup]="restCodeForm" (ngSubmit)="handelResetCode(restCodeForm)">
    <div class="py-3">
      <label for="resetCode">Reset Code</label>
      <input
        type="text"
        placeholder="Enter Your Code"
        id="resetCode"
        class="form-control"
        formControlName="resetCode"
      />
      <div
        *ngIf="
          forgetPassForm?.get('resetCode')?.errors &&
          (forgetPassForm.get('resetCode')?.touched ||
            forgetPassForm.get('resetCode')?.value.length > 0)
        "
        class="alert alert-danger py-0"
      >
        <p *ngIf="forgetPassForm.get('email')?.getError('required')">
          Code is Required
        </p>

      </div>
    </div>
    <button type="submit" class="btn main-btn px-3 d-block ms-auto">
      Reset Code
    </button>
  </form>
</section>

<section
  *ngIf="step3"
  class="w-75 mx-auto shadow-sm bg-body-secondary p-5 mb-5 rounded rounded-3"
>
  <form [formGroup]="newPassForm" (ngSubmit)="handelNewPass(newPassForm)">
    <div class="py-3">
      <label for="resetPass">Reset PassWord</label>
      <input
        type="password"
        placeholder="Enter Your Code"
        id="resetPass"
        class="form-control"
        formControlName="newPassword"
      />
       <div
        *ngIf="
          forgetPassForm?.get('newPassword')?.errors &&
          (forgetPassForm.get('newPassword')?.touched ||
            forgetPassForm.get('newPassword')?.value.length > 0)
        "
        class="alert alert-danger py-0"
      >
        <p *ngIf="forgetPassForm.get('newPassword')?.getError('required')">
          Password is Required
        </p>
        <p *ngIf="forgetPassForm.get('newPassword')?.getError('pattern')">
          Password is minLength 3
        </p>
      </div>
    </div>
    <button type="submit" class="btn main-btn px-3 d-block ms-auto">
      Reset PassWord
    </button>
  </form>
</section>
