$main-color: #0aad0a;
.remove-Prod {
  font-size: 13px !important;
}
.count-bnt:hover {
  background: $main-color !important  ;
  color: #fff !important;
}
.clear-cart-btn:hover {
  background: #dc3545 !important;
  color: #fff !important;
}
// section {
//   height: 80vh;
//   overflow: auto;
// }
