<footer class="bg-main-light p-5 my-5">
  <h4>Get the FreshCart app</h4>
  <p class="color-lower">
    We will send you a link, open it on your phone to download the app.
  </p>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <input type="text" placeholder="Email.." class="form-control" />
      </div>
      <div class="col-md-2">
        <button type="button" class="main-btn px-4 py-2">Share App Link</button>
      </div>
    </div>
  </div>
  <hr class="color-lower" />
  <div class="d-flex align-items-center justify-content-between py-3">
    <div class="d-flex align-items-center justify-content-between ">
      <p class=" pb-1 m-0 me-1">Pavment Partners</p>
      <img class="brand-1" src="../../../assets/images/amazon_PNG21.png" alt="brand_Pay-Logo">
      <img class="brand-1 pb-1" src="../../../assets/images/ms_hrz_opt_pos_75_3x.png" alt="brand_Pay-Logo">
      <img class="brand-1 pb-1" src="../../../assets/images/paypal_PNG19.png" alt="brand_Pay-Logo">
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <p class="m-0 p-0 pe-1 fs-5">Get deliveries with FreshCart</p>
      <img
        class="img-1"
        src="./assets/images/appl.jpg"
        alt="apple-store logo"
      />
      <img
        class="img-2"
        src="./assets/images/go-play.jpg"
        alt="google-play logo"
      />
    </div>
  </div>
  <hr class="color-lower"/>
</footer>
