<nav #navBar class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid px-4">
    <a class="navbar-brand" routerLink="/home">
      <img src="./assets/images/freshcart-logo.svg" alt="freshcart logo" />
    </a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ps-2" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active-linke"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="products"
            routerLinkActive="active-linke"
            >Products</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="category"
            routerLinkActive="active-linke"
            >Category</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="brand" routerLinkActive="active-linke"
            >Brand</a
          >
        </li>
      </ul>
      <ul
        class="navbar-nav ms-auto mt-2 mt-lg-0 align-items-center d-flex gap-1"
      >
        <li class="nav-item px-3 py-1" routerLink="/washlist">
          <i class="fs-4 text-main mt-3 fa-solid fa-heart"></i>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            title="userData"
          >
            <i class="fa-solid fa-user text-main fa-1x"></i>
          </a>
          <ul class="dropdown-menu p-0 py-2 m-0 shadow-sm">
            <li><a class="dropdown-item" routerLink="updatepass" >Update Password</a></li>
            <li class="p-0 m-0"><hr class="dropdown-divider" /></li>
            <li class="">
              <a class="dropdown-item" routerLink="allorders">My Orders</a>
            </li>
          </ul>
        </li>
        <li routerLink="/cart" class="nav-item position-relative pe-3 py-1">
          <i class="fa-solid fs-5 mt-3 text-main fa-cart-shopping"></i>
          <span class="badge position-absolute top-0 end-0 bg-main num-cart"
            >{{cartCount}}</span
          >
        </li>
        <li class="nav-item">
          <a class="nav-link"> <i class="fab fa-facebook"></i> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"> <i class="fab fa-youtube"></i> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"> <i class="fab fa-tiktok"></i> </a>
        </li>

        <li class="nav-item ps-4" (click)="handelSignOut()">
          <span role="button">SignOut</span>
        </li>
      </ul>
    </div>
  </div>
</nav>
