<section class="w-75 mx-auto p5 bg-body-secondary main mb-5">
  <div class="">
    <h1 class="py-1 text-center pt-3 fw-lighter h3">All Orders</h1>
    <div class="p-3" *ngFor="let order of allOrder; index as i">
      <div class="container px-4">
        <h3>Order: {{ i + 1 }}</h3>
        <div class="row orders bg-body-tertiary shadow-sm">
          <div class="col-md-9" *ngFor="let item of order.cartItems">
            <div class="row border-bottom pt-2">
              <div class="col-md-2 pb-1">
                <img [src]="item.product.imageCover" class="w-100" alt="" />
              </div>
              <div class="col-md-6 pb-2">
                <p class="text-main pt-3 h6">
                  {{ item.product.title.split(" ", 5).join(" ") }}
                </p>
                <p class="pt-2">count :{{ item.count }}</p>
                <p class="">price:{{ item.price }}EGP</p>
              </div>
            </div>
          </div>
          <div
            class="col-md-3 orderDatails text-capitalize rounded-2 bg-body-secondary shadow-sm border"
          >
            <div class="p-2">
              <p>
                isDelivered:
                <span class="bg-danger-subtle text-dark rounded rounded-3 ms-1 p-1">{{
                  order.isDelivered
                }}</span>
              </p>
              <p>
                isPaid:
                <span class="p-1 bg-main text-white rounded rounded-3 ms-1">{{ order.isPaid }}</span>
              </p>
              <p>
                paymentMethodType:
                <span class=" p-1">{{
                  order.paymentMethodType
                }}</span>
              </p>
              <p>
                totalOrderPrice:
                <span class=" p-1">{{
                  order.totalOrderPrice
                }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
